body{
    background-color: crimson;
    text-align: center;
}

.div_1{
    background-color: floralwhite;
    float: none;
    padding: 10px;
    border-radius: 10px;
}

#login{
    width: 30%;
}